---
import '../styles/base.css';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{title}</title>
		<meta name="description" content={description} />

		<link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />

		<link rel="preconnect" href="https://stijndv.com" />
		<link rel="stylesheet" href="https://stijndv.com/fonts/Eudoxus-Sans.css" />

		<link rel="preload" href="/medias/ziboulette.webp" as="image" />
		<link rel="preload" href="/medias/development.webp" as="image" />
	</head>
	<body class="bg-background mx-auto max-w-3xl my-20 px-12 lg:max-w-5xl">
		<slot />
	</body>
</html>
