---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/header.astro";
import ArticleCard from "../../../components/article-card.astro";

export const getStaticPaths = (async () => {
  const pages = await getCollection('blog');
  const langs = [...new Set(pages.map((page) => page.data.lang))];

  return langs.map((lang) => {
    const articles = pages.filter((page) => page.data.lang === lang);
    return {
      params: { lang },
      props: { articles }
    }
  })
}) satisfies GetStaticPaths;
---

<Layout
    title="Blog"
    description="A collection of articles"
    lang={Astro.params.lang}
>
    <Header lang={Astro.params.lang} />

    <div class="flex flex-col gap-8">
        {Astro.props.articles.sort().reverse().map((article) => (
            <ArticleCard article={article} />
        ))}
    </div>
</Layout>
